<div class="position-bar">
  <mat-button-toggle-group [(ngModel)]="xPosition" name="xPosition" aria-label="x-position">
    <mat-button-toggle value="before">before</mat-button-toggle>
    <mat-button-toggle value="after">after</mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle-group [(ngModel)]="yPosition" name="yPosition" aria-label="y-position">
    <mat-button-toggle value="above">above</mat-button-toggle>
    <mat-button-toggle value="below">below</mat-button-toggle>
  </mat-button-toggle-group>
</div>
<div class="demo-content">
  <ngx-mat-popover [popoverContent]="popoverContent" [xPosition]="xPosition" [yPosition]="yPosition" #popover="ngxMatPopover" mode="toggle">
    <button mat-button data-cy="button">Need a popover?</button>
  </ngx-mat-popover>

  <ng-template #popoverContent>
    <div class="title">This is a popover missing from angular/material</div>
    <div class="content">
      This popover is pretty simple. It uses material menu to work like a popover.<br />
      The benefit of this approach is it is super lightweigt.<br /><br />
      And it is very flexible as well.
    </div>
    <div class="action">
      <button mat-button (click)="onClose()">close</button>
      <button mat-raised-button color="accent" (click)="onConfirm()">CONFIRM</button>
    </div>
  </ng-template>
</div>
