.position-bar {
  margin: 2rem auto;
  width: 50%;
  display: flex;
  justify-content: center;
}

mat-button-toggle-group + mat-button-toggle-group {
  margin: 0 1rem;
}

.title {
  text-align: left;
  font-weight: bolder;
  margin-bottom: 1rem;
}
.action {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.demo-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
